.uploader {
    position: relative;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: background-color 0.3s ease;

}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;

}

.uploader-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.uploader-container img {
    height: 5rem;
    width: 5rem;
}

.uploader-title {
    font-weight: bold;
}