/* Main uploader container */
.uploader {
    position: relative;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: background-color 0.3s ease;

}

/* Hidden file input */
.file-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    /* Use the pointer cursor for the file input */

}

/* Container for uploader elements */
.uploader-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Styling for the uploaded placeholder image */
.uploader-container img {
    height: 5rem;
    width: 5rem;
}

.uploader-title {
    font-weight: bold;
}