/* src/Gallery.css */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-gap: 5px;

}

/* Style for the "Delete" button */
.delete-button {
    color: red;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
}

.delete-button:hover {
    background-color: #d81b1b;
    color: white;
    /* Darker red color on hover */
}



/* Style for the other images */
.image-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.image-container img {
    overflow: hidden;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s;
}

.image-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.image-container:hover {
    background: rgba(0, 0, 0, 0.5);
}

.image-container.no-hover {
    border: 1px dashed;
}

.image-container.no-hover:hover {
    background-color: transparent;


}

.image-container.no-hover:hover img {
    opacity: 1;
}


.image-container:hover img {
    opacity: .5;
}

.image-container:hover .image-checkbox {
    opacity: 1;
    transition: opacity 0.3s;
}

.image-checkbox.visible {
    opacity: 1;
}

.image-container .image-checkbox:checked+img {
    opacity: 0.5;
}

.checked-counter {
    font-size: 18px;
    padding-left: 10px;
    margin-right: 10px;

}

.gallery-actions {
    display: flex;
    justify-content: space-between;
}

.gallery .image-container:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}